<head>
    <%- include('../common/headScripts') %>
    <style>
        a { display: block; }
    </style>
</head>

<h1>Demos</h1>

<a href="/demo/sockets">Socket demo &rarr;</a>
<a href="/demo/time">Get time from server &rarr;</a>