<head>
    <%- include('../common/headScripts') %>
    <script src="/socket.io/socket.io.js"></script>
</head>

<h2>Socket.io Demo</h2>

<div id="message">
    <p>Connecting in <span id="countdown">5</span></p>
</div>
<div id="sendDiv" style="display: none;">
    <input id="text" type="text"/>
    <a id="send">Send</a>
</div>

<a href="/demo">Back</a>

<script>
    console.log('after');
    var socket;
    var timer;
    var secondsLeft = 5;
    var doneStartup = false;

    $(function() {
        $text = $('#text');
        timer = setInterval(updateTime, 1000);
        $('#send').click(function () {
            socket.emit('test', $text.val());
            $text.val('');
        });
    });
    
    function updateTime() {
        secondsLeft--;
        $('#countdown').text(secondsLeft);
        if (secondsLeft <= 0) {
            clearInterval(timer); 
            $messageList = $('#message');
            $messageList.append($('<p>').text('Attmepting to connect...'));
            try {
                socket = io();
            } catch (err) {
                console.err(err);
                $messageList.append($('<p>').text('Connection failed'));
                return;
            } 
            $messageList.append($('<p>').text('Connection Successful! Sending message...'));
            socket.on('test', function(message) {
                $messageList.append($('<p>').text(message));
                if (!doneStartup) {
                    $('#sendDiv').show();
                    doneStartup = true;
                }
            });
            socket.emit('test', 'Hello server, it is I');
        }
    }
</script>