body {
    /* Padding for the navbar */
    padding-top: 56px;
    /* Background pattern from Subtle Patterns */
    background: rgba(0, 0, 0, 0) url("/images/dust_scratches.png") repeat scroll 0% 0%;
}

.main-container {
    overflow-x: hidden;
}

.noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

.remove-container-padding {
    padding: 0;
}

/* Sidebar/Classlist */
.sidebar {
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    background: #5677fc;
    min-width: 300px;
    max-width: 300px;
    overflow-y: auto;
}

.sidebar-empty-message {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.add-class-btn {
    position: absolute;
    bottom: 20px;
    margin-left: 180px;
}

.classlist-item {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.classlist-item:hover {
    background: rgba(255,255,255,0.25);
    cursor: pointer;
}

.classlist-item-selected {
    background: rgba(255,255,255,0.25);
}

.classlist-spacer {
    min-height: 80px;
    max-height: 80px;
}

.classlist-spacer:hover {
    background: #5677fc;
    cursor: default;
}

.classlist-link {
    white-space: pre;
    max-width: 270px;
    outline: 0px;
    display: inline-block;
}

.classlist-admin-indicator {
    font-weight: bold;
    font-size: small;
    float: right;
    margin-bottom: 70%;
    margin-top: 20%;
    margin-right: 15px;
}

.classpage {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 20px;
    max-height: calc(100vh - 56px);
    min-height: calc(100vh - 56px);
    width: calc(100vw - 300px);
    min-width: 500px;
    overflow-y: auto;
    overflow-x: auto;
}

.class-title-div {
    text-align: left;
}

.class-options-div {
    text-align: right;
}

.editable-icon {
    visibility: visible;
    margin-left: 10px;
    margin-bottom: 15px;
}

.editable-icon-hidden {
    visibility: hidden;
}

.class-attendance-div {
    height: 150px;
    padding-bottom: 15px;
}

.class-attendance-div-left {
    float: left;
    padding-right: 30px;
}

.class-attendance-div-right {
    float: left;
    padding-top: 40px;
}

.class-attendance-label {
    display: block;
}

.class-duration-label {
    padding-right: 10px;
}

.class-export-div {
    height: 40px;
}

.class-export-button {
    margin-top: 10px;
}

.class-import-button {
    margin-top: 10px;
    margin-right: 10px;
}

.class-addstudent-button {
    margin-top: 10px;
}

.class-admin-button {
    margin-bottom: 10px;
}

.class-delete-button {
    margin-left: 10px;
    vertical-align: top;
}

.class-table-column-div {
    text-align: center;
    padding-bottom: 15px;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
}

.spin-min-height {
    min-height: 70px;
}

.modal-header-danger {
    background-color: #d9534f;
    color: white;
}

.modal-header-success {
    background-color: #5cb85c;
    color: white;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.start-modal-top-info-finished {
    text-align: center;
}

.start-modal-finished-info {
    font-size: 18px;
}

.start-modal-timer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.start-modal-code {
    white-space: nowrap;
}

.student-checkin {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
}

.student-input {
    width: 200px;
    height: 100px;
    font-size: 60px;
    font-family: Consolas,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", monospace;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.student-submit-button {
    width: 100%
}

.qtable {
    background-color: white;
    text-align: center;
}

.qtable1 {
    border-bottom: 0;
}

.qtable2 {
    border-top: 0;
}

.qtable thead tr {
    display: block;
    position: relative;
}

.qtable tbody {
    display: block;
    overflow: auto;    
}

.qtable td {
    text-align: center;
}

.table-div {
    text-align: right; 
    display: inline-block;
}

.spin-td, .spin-tr {
    width: 100%;
    height: 100%;
    position: relative;
}

.centered-table {
    margin: auto;
}

.table-modal-body {
    overflow-y: auto;
    max-height: 550px;
}

.table-modal-bodytitle {
    text-align: center;
    margin-bottom: 20px;
}

.attendance-modal-table th, td {
    padding-right: 7px;
    padding-left: 7px;
}

 .attendance-modal-table thead {
    border-bottom: rgb(43, 43, 43)
} 

#toast-container {
    z-index: 1039;
}

.title-field {
    display: inline-block;
}

.admin-table-div {
    margin-top: 25px;
    max-width: 322px;
    min-width: 322px;
}

.admin-table-below {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.admin-add-form {
    margin-left: 10px;
    min-width: 156px;
}