/* Navbar takes up space, so the entire body
needs to be shifted down */
body {
    padding-top: 70px;
}

/* Give the classlist/sidebar some percent of the view width,
and the rest to the main page. */
.classlist {
    width: 20vw;
}

/* Sidebar/Classlist */
.sidebar {
    height: 100vh
}

/* TODO fix the margin hack */
.add-class-btn {
    position: absolute;
    bottom: 20px;
    margin-left: 10vw;
}

/* Show newlines properly in inner text */
.classlist-link {
    white-space: pre;
}

.classpage {
    width: 80vw
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}