body {
    /* Padding for the navbar */
    padding-top: 70px;
}

.classlist {
}

/* Sidebar/Classlist */
.sidebar {
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    background: #5677fc;
    min-width: 300px;
    max-width: 300px;
    margin-left: -20px;
    margin-top: -20px;
    float: left;
}

.sidebar-empty-message {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.add-class-btn {
    position: absolute;
    bottom: 20px;
    margin-left: 180px;
}

.classlist-item {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.classlist-item:hover {
    background: rgba(255,255,255,0.25);
}

.classlist-item-selected {
    background: rgba(255,255,255,0.25);
}

.classlist-link {
    white-space: pre;
    max-width: 270px;
    outline: 0px;
}

.classpage {
    margin-left: 30px;
    float: left;
}

.hidden {
    display: none;
}

.centered {
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
}

.spin-min-height {
    min-height: 70px;
}

.modal-header-danger {
    background-color: #d9534f;
    color: white;
}

.modal-header-success {
    background-color: #5cb85c;
    color: white;
}

.flex {
    display: flex;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.start-modal-top-info-finished {
    text-align: center;
}

.start-modal-finished-info {
    font-size: 18px;
}

.start-modal-timer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.start-modal-code {

}